<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TallerMecanico"
			 connectionString="Server=tcp:tallermecanic.database.windows.net;Database=Taller_Mecanico_Sistema;Authentication=Active Directory Default;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
