<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TallerMecanico"
			 connectionString="Data Source=tallermecanic.database.windows.net;Initial Catalog=Taller_Mecanico_Sistema;User ID=DayanaSosa;Password=Serv2026;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>