<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="TallerMecanico"
			 connectionString="Data Source=tallermecanic.database.windows.net;Initial Catalog=Taller_Mecanico_Sistema;User ID=DayanaSosa;Password=Taller2026;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="EmailRemitente" value="tallermecanicoind26@gmail.com" />
		<add key="EmailClave" value="igzy ooxe fmjr ippx" />
	</appSettings>
</configuration>